{namespace ZEPHYR.Templates.Importer}
/**
 * Renders preference dialog.
 */
{template .renderDialog}
	<form class="aui">
    <div class="field-group">
        <label for="demo-message-length">Input with validation</label>
        <input id="demo-message-length" class="text" type="text" data-aui-validation-field data-aui-validation-minlength="10">
    </div>
</form>
{/template}
