<dom-module id="custom-textarea">
  <template>
    <custom-style>
      <style>
        .custom-textarea textarea {
          width: 200px;
          min-height: 45px;
          border: 1px solid #ccc;
          border-radius: 3.01px;
          box-sizing: border-box;
          font-size: inherit;
          margin: 0;
          max-width: 200px;
          vertical-align: baseline;
          resize: none;
        }
  
        .custom-textarea .wikiIcons-wrapper {
          display: flex;
          padding-top: 10px;
        }
  
        .custom-textarea .wiki-icons {
          width: 15px;
          height: 15px;
          border-radius: 3px;
          /* display: inline-block; */
          background-color: #deebff;
          display: flex;
          justify-content: center;
          margin-right: 5px;
        }
  
        .custom-textarea .editable-field.empty {
          box-shadow: 0 0 0 1px #CCCCCC;
        }
  
        .custom-textarea .editable-field {
          box-sizing: border-box;
          border-radius: 2.01px;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          display: inline-block;
          max-width: 100%;
          padding: 2px 5px 2px 5px;
          position: relative;
          transition: box-shadow 150ms ease-in 0ms;
          vertical-align: top;
          min-height: 26px;
          min-width: 200px;
          max-width: 200px;
          overflow: auto;
          width: 100%;
        }
  
        .custom-textarea .editable-field img {
          max-width: 100%;
        }
  
        .custom-textarea .editable-field:hover {
          background-color: #FFFFFF;
          box-shadow: 0 0 0 1px #CCCCCC;
        }
  
        .custom-textarea .editable-field .overlay-icon {
          box-sizing: border-box;
          background-color: #F0F0F0;
          background-position: 4px 4px;
          background-repeat: no-repeat;
          border-left: 1px solid #CCCCCC;
          bottom: 0;
          height: auto;
          margin: 0;
          opacity: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 24px;
          z-index: -1;
        }
  
        .custom-textarea .editable-field:hover .overlay-icon {
          transition: opacity 150ms ease-in 0ms;
          opacity: 1;
          z-index: auto;
        }
  
        .custom-textarea .overlay-icon .icon-pencil {
          padding: 5px;
          vertical-align: sub;
        }
  
        .custom-textarea .editable-cell-container .cell-editMode {
          position: relative;
          min-height: 60px;
        }
  
        .custom-textarea .editable-cell-container #editMode {
          outline: none;
        }
  
        .custom-textarea .editable-cell-container .noInlineEdit .cell-editMode {
          padding: 0px;
        }
  
        .custom-textarea .update-cancel-buttons {
          background-color: #F0F0F0;
          border-color: -moz-use-text-color #CCCCCC #CCCCCC;
          border-image: none;
          border-radius: 0 0 3px 3px;
          border-width: medium 1px 1px;
          box-shadow: 0 3px 6px rgba(111, 111, 111, 0.2);
          outline: medium none;
          padding: 3px;
          position: absolute;
          right: 31px;
          z-index: 1;
        }
  
        .custom-textarea .update-cancel-buttons button {
          width: 20px;
          height: 20px;
          padding: 0;
        }
  
        .custom-textarea .update-cancel-buttons button i {
          font-size: 12px;
          vertical-align: text-top;
        }
  
        .custom-textarea .sortable {
          margin-left: 5px;
          cursor: pointer;
        }
  
        .custom-textarea .cell-editMode {
          display: flex;
          justify-content: flex-start;
        }
  
        .custom-textarea label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: calc(100% - 20px);
        }
  
        .custom-textarea input[type=checkbox],
        .custom-textarea input[type=radio] {
          width: 20px;
          height: inherit;
        }
  
        .custom-textarea.isStandAlone textarea,
        .custom-textarea.isStandAlone input {
          height: 30px;
          width: 100%;
        }
  
        .custom-textarea input {
          width: 100px;
        }
  
        .custom-textarea input,
        .custom-textarea textarea {
          height: 30px;
          box-sizing: border-box;
          border-radius: 3px;
          border: 1px solid #ccc;
          outline: none;
          font-size: 12px;
        }
  
        .custom-textarea p,
        .custom-textarea h1,
        .custom-textarea h2,
        .custom-textarea h3,
        .custom-textarea h4,
        .custom-textarea h5 {
          word-break: normal;
          word-wrap: break-word;
          margin: 0;
        }
  
        .custom-textarea table.confluenceTable {
          border-collapse: collapse;
          margin: 5px 0 5px 2px;
          width: 100%;
          table-layout: fixed;
        }
  
        .custom-textarea td.confluenceTd {
          border: 1px solid #cccccc;
          padding: 3px 4px 3px 4px;
        }
  
        .custom-textarea th.confluenceTh {
          border: 1px solid #cccccc;
          background: #f5f5f5;
          padding: 3px 4px 3px 4px;
          text-align: center;
        }
  
        /* override for aui form styles (stalker comment) */
  
        .custom-textarea div.wiki-edit {
          margin-bottom: 0;
           padding-bottom: 0;
        }
  
        .custom-textarea div.wiki-edit p {
          padding: 0;
        }
  
        .custom-textarea div.wiki-edit h1 {
          font-size: 2.4em;
        }
  
        .custom-textarea div.wiki-edit h2 {
          font-size: 1.8em;
          border: none;
        }
  
        .custom-textarea div.wiki-edit h3 {
          font-size: 1.3em;
        }
  
        .custom-textarea div.wiki-edit h4 {
          font-size: 1.2em;
        }
  
        .custom-textarea div.wiki-edit h5 {
          font-size: 1em;
        }
  
        .custom-textarea div.wiki-edit h6 {
          font-size: .9em;
        }
  
        .custom-textarea div.wiki-edit img,
        .custom-textarea div.wiki-edit a img,
        .custom-textarea div.wiki-edit fieldset {
          border: 0;
        }
  
        .custom-textarea div.wiki-edit ul {
          margin: 0 0 1em 2em;
        }
  
        .custom-textarea div.wiki-edit ol {
          list-style-type: decimal;
          list-style-position: outside;
          padding-left: 2.5em;
        }
  
        .custom-textarea div.wiki-edit blockquote {
          border-left: 2px solid #3c78b5;
          font-size: 1em;
          font-family: inherit;
          margin-left: 0;
          padding-left: 1em;
        }
  
        .custom-textarea div.wiki-edit small,
        .custom-textarea div.wiki-edit .small {
          font-size: .9em;
        }
  
        .custom-textarea div.wiki-edit strong,
        .custom-textarea div.wiki-edit b,
        .custom-textarea div.wiki-edit .bolded {
          font-weight: bold;
        }
  
        /* All wiki formatted content needs a specific selector prefixed with .wiki-edit also so that it overrides aui form styles */
  
        .custom-textarea .preformatted,
        .custom-textarea div.wiki-edit .preformatted,
        .custom-textarea .code,
        .custom-textarea div.wiki-edit .code {
          border: 1px solid #cccccc;
          background: #f5f5f5;
          font-size: 12px;
          line-height: 1.33333333333333;
          font-family: monospace;
        }
  
        .custom-textarea .code-keyword,
        .custom-textarea div.wiki-edit .code-keyword {
          color: #000091;
        }
  
        .custom-textarea .code-object,
        .custom-textarea div.wiki-edit .code-object {
          color: #910091;
        }
  
        .custom-textarea .code-quote,
        .custom-textarea div.wiki-edit .code-quote,
        .custom-textarea .code-quote .code-keyword,
        .custom-textarea div.wiki-edit .code-quote .code-keyword,
        .custom-textarea .code-quote .code-object,
        .custom-textarea div.wiki-edit .code-quote .code-object {
          color: #009100;
        }
  
        .custom-textarea .code-comment,
        .custom-textarea div.wiki-edit .code-comment,
        .custom-textarea .code-comment .code-keyword,
        .custom-textarea div.wiki-edit .code-comment .code-keyword,
        .custom-textarea .code-comment .code-object,
        .custom-textarea div.wiki-edit .code-comment .code-object,
        .custom-textarea .code-comment .code-quote,
        .custom-textarea div.wiki-edit .code-comment .code-quote {
          color: #808080;
        }
  
        .custom-textarea .code-xml .code-keyword,
        .custom-textarea div.wiki-edit .code-xml .code-keyword {
          font-weight: bold;
        }
  
        .custom-textarea .code-tag,
        .custom-textarea div.wiki-edit .code-tag {
          color: #000091;
        }
  
        .custom-textarea .panel,
        .custom-textarea div.wiki-edit .panel {
          border: 1px solid #cccccc;
          -moz-border-radius: 3px 3px 3px 3px;
          border-radius: 3px 3px 3px 3px;
          margin: 9px 0;
        }
  
        .custom-textarea .panelHeader,
        .custom-textarea div.wiki-edit .panelHeader {
          border-bottom: 1px solid #cccccc;
          padding: 9px 12px;
        }
  
        .custom-textarea .panelContent,
        .custom-textarea div.wiki-edit .panelContent {
          padding: 9px 12px;
        }
  
        .custom-textarea div.wiki-edit pre {
          background: none;
          border: none;
          padding: 0;
          width: 100%;
        }
  
        .custom-textarea div.preformattedContent pre,
        .custom-textarea div.codeContent pre {
          max-height: 30em;
          overflow: auto;
          white-space: pre-wrap;
          word-wrap: normal;
        }
  
        .custom-textarea div.preformattedContent pre {
          /* We value the user's formatting in {noformat} blocks. We should never introduce our own newlines in to unformatted blocks of text. */
          /* white-space: pre; */
          word-break: normal;
        }
  
        .custom-textarea table div.preformattedContent pre {
          /* ...unless they're in a table, in which case we'd prefer the content wrap than the user having to scroll to the bottom of the table to scroll it. */
          word-wrap: break-word;
          word-break: break-word;
          white-space: pre-wrap;
        }
  
        /* miscellaneous styles */
  
        .custom-textarea .linkerror {
          background-color: #fcc;
        }
  
        .custom-textarea .editPageInsertLinks,
        .custom-textarea .editPageInsertLinks a {
          font-weight: normal;
          font-size: 9px;
        }
  
        .custom-textarea .helpheading {
          border-bottom: 1px solid #3b73af;
          font-weight: bold;
          background-color: #ddd;
          padding: 4px 4px 2px;
          margin: 0px;
        }
  
        .custom-textarea .helpcontent {
          padding: 4px 4px 20px 4px;
          background-color: #fff;
        }
  
        .custom-textarea .gridHover {
          background-color: #f9f9f9;
        }
  
        .custom-textarea .navmenu {
          border: 1px solid #cccccc;
        }
  
        /* side menu highlighting (e.g. space content screen) */
  
        .custom-textarea .optionPadded {
          padding: 2px;
        }
  
        .custom-textarea .optionSelected {
          border: #dddddd solid #cccccc;
          border: 1px solid #dddddd;
          background-color: #ffffcc;
          padding: 2px;
          margin: -1px;
        }
  
        .custom-textarea .optionSelected a {
          font-weight: bold;
          text-decoration: none;
          color: black;
        }
  
        .custom-textarea .menuheading {
          border-bottom: 1px solid #3b73af;
          font-weight: bold;
          background-color: #ddd;
          padding: 4px 4px 2px 4px;
        }
  
        .custom-textarea .menuitems {
          padding: 4px 4px 20px 4px;
          background-color: #f5f5f5;
        }
  
        .custom-textarea .pagetitle {
          font-size: 22px;
          font-weight: bold;
          font-family: inherit;
          color: #003366;
        }
  
        .custom-textarea .wiki-edit-content.previewClass {
          background-color: #E8F1FF;
          padding: 0.3em 0.7em;
        }
  
        .custom-textarea .wiki-icons {
          width: 15px;
          height: 15px;
          border-radius: 3px;
          /* display: inline-block; */
          background-color: #deebff;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;
        }

        .custom-textarea .wiki-help img{
          height: 7px;
        }
  
        .custom-textarea .cell-readMode.editMode {
          display: none;
        }
  
        .custom-textarea .cell-readMode.editMode+#editMode {
          outline: none;
        }

       /* Primary Colors */
/* Secondary Colors */
/* Derivative Colors */
/* Messages Theme */
/* Fancy File Input Theme */
/**
 * TYPOGRAPHY - 14px base font size, agnostic font stack
 */

/* International Font Stacks*/
[lang|=en] {
  font-family: Arial, sans-serif;
}
[lang|=ja] {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, Arial, sans-serif;
}
/* Default margins */
.custom-textarea p,
.custom-textarea ul,
.custom-textarea ol,
.custom-textarea dl,
.custom-textarea h1,
.custom-textarea h2,
.custom-textarea h3,
.custom-textarea h4,
.custom-textarea h5,
.custom-textarea h6,
.custom-textarea blockquote,
.custom-textarea pre,
.custom-textarea form.aui,
.custom-textarea table.aui,
.custom-textarea .aui-tabs,
.custom-textarea .aui-panel,
.custom-textarea .aui-group {
  margin: 10px 0 0 0;
}
/* No top margin to interfere with box padding */
.custom-textarea p:first-child,
.custom-textarea ul:first-child,
.custom-textarea ol:first-child,
.custom-textarea dl:first-child,
.custom-textarea h1:first-child,
.custom-textarea h2:first-child,
.custom-textarea h3:first-child,
.custom-textarea h4:first-child,
.custom-textarea h5:first-child,
.custom-textarea h6:first-child,
.custom-textarea blockquote:first-child,
.custom-textarea pre:first-child,
.custom-textarea form.aui:first-child,
.custom-textarea table.aui:first-child,
.custom-textarea .aui-tabs:first-child,
.custom-textarea .aui-panel:first-child,
.custom-textarea .aui-group:first-child {
  margin-top: 0;
}
/* Headings: desired line height in px / font size = unitless line height */
.custom-textarea h1,
.custom-textarea .aui-page-header-hero .aui-page-header-main h1,
.custom-textarea .aui-page-header-hero .aui-page-header-main h2,
.custom-textarea .aui-page-header-marketing .aui-page-header-main h1,
.custom-textarea .aui-page-header-marketing .aui-page-header-main h2 {
  color: #333333;
  font-size: 32px;
  font-weight: normal;
  line-height: 1.25;
  text-transform: none;
  margin: 30px 0 0 0;
}
.custom-textarea h2 {
  color: #333333;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.25;
  text-transform: none;
  margin: 30px 0 0 0;
}
.custom-textarea h3,
.custom-textarea .aui-page-header-hero .aui-page-header-main p,
.custom-textarea .aui-page-header-marketing .aui-page-header-main p {
  color: #333333;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
  margin: 30px 0 0 0;
}
.custom-textarea h4 {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: none;
  margin: 20px 0 0 0;
}
.custom-textarea h5 {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.42857143;
  text-transform: none;
  margin: 20px 0 0 0;
}
.custom-textarea h6 {
  color: #707070;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.66666667;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}
.custom-textarea h1:first-child,
.custom-textarea h2:first-child,
.custom-textarea h3:first-child,
.custom-textarea h4:first-child,
.custom-textarea h5:first-child,
.custom-textarea h6:first-child {
  margin-top: 0;
}
/* Nice styles for using subheadings */
.custom-textarea h1 + h2,
.custom-textarea h2 + h3,
.custom-textarea h3 + h4,
.custom-textarea h4 + h5,
.custom-textarea h5 + h6 {
  margin-top: 10px;
}
/* Increase the margins on all headings when used in the group/item pattern ... */
.custom-textarea .aui-group > .aui-item > h1:first-child,
.custom-textarea .aui-group > .aui-item > h2:first-child,
.custom-textarea .aui-group > .aui-item > h3:first-child,
.custom-textarea .aui-group > .aui-item > h4:first-child,
.custom-textarea .aui-group > .aui-item > h5:first-child,
.custom-textarea .aui-group > .aui-item > h6:first-child {
  margin-top: 20px;
}
/* ... unless they're the first-child */
.custom-textarea .aui-group:first-child > .aui-item > h1:first-child,
.custom-textarea .aui-group:first-child > .aui-item > h2:first-child,
.custom-textarea .aui-group:first-child > .aui-item > h3:first-child,
.custom-textarea .aui-group:first-child > .aui-item > h4:first-child,
.custom-textarea .aui-group:first-child > .aui-item > h5:first-child,
.custom-textarea .aui-group:first-child > .aui-item > h6:first-child {
  margin-top: 0;
}
/* Other typographical elements */
.custom-textarea small {
  color: #707070;
  font-size: 12px;
  line-height: 1.33333333333333;
}
.custom-textarea code,
.custom-textarea kbd {
  font-family: monospace;
}
.custom-textarea var,
.custom-textarea address,
.custom-textarea dfn,
.custom-textarea cite {
  font-style: italic;
}
.custom-textarea cite:before {
  content: "\2014 \2009";
}
.custom-textarea blockquote {
  border-left: 1px solid #cccccc;
  color: #707070;
  margin-left: 19px;
  padding: 10px 20px;
}
.custom-textarea blockquote > cite {
  display: block;
  margin-top: 10px;
}
.custom-textarea q {
  color: #707070;
}
.custom-textarea q:before {
  content: open-quote;
}
.custom-textarea q:after {
  content: close-quote;
}
.custom-textarea abbr {
  border-bottom: 1px #707070 dotted;
  cursor: help;
}
#renderHTML:empty:after {
            content: attr(data-content);
        }

      </style>
    </custom-style>
    <div class="cell-wrapper custom-textarea" data-columnid="status">
      <div class="editable-cell-container">
        <div class$="cell-readMode {{_checkRender(readMode)}}">
          <div id="editableField" class="editable-field" on-click="_changeMode">
            <div>
              <span id="renderHTML" class="readValues" data-content="$i18n.getText('zephyr.customfield.textarea.placeholder')"></span>
            </div>
          </div>
        </div>
        <div id="editMode" tabindex="-1">
          <template is="dom-if" if="{{editMode}}">
            <template is="dom-if" if="{{!showPreview}}">
              <div class="cell-editMode">
                <textarea placeholder="Enter Value..." value="{{editValue}}" on-keypress="handleChange1" on-change="handleChange" tabindex="100" on-focusout="_checkblur">{{editValue}}</textarea>
              </div>
            </template>
            <template is="dom-if" if="{{showPreview}}">
              <div>
                <span class="previewValues"></span>
              </div>
            </template>
            <div class="wikiIcons-wrapper">
              <span class="wiki-icons wiki-renderer-icon stopBlur" on-click="_showPreview" tabindex="-1" title="preview">
                <template is="dom-if" if="{{wikiPreview}}">
                  <img src="{{wikiPreview}}">
                </template>
              </span>
              <a href="{{wikiHelpUrl}}" target="_blank" tabindex="-1" class="stopBlur">
                <span class="wiki-icons wiki-help" title="Get local help about wiki markup help">
                  <template is="dom-if" if="{{wikiHelp}}">
                    <img src="{{wikiHelp}}">
                  </template>
                </span>
              </a>
              <a>
                <div>
                </div>
              </a>
            </div>
          </template>
        </div>
      </div>
    </div>
  </template>

</dom-module>
